.wh-h1{
  color: #f9f9f9;
}
.wh-lbl{
  color: #f9f9f9;
}
.bg-container-turq
{
  background-color: #00b894;
}
.bg-turquesa
{
  background-color: #55efc4;
}
.container
{
  padding: 2%;
  border-radius: 15px;
  color: #f9f9f9;
}
