/* You can add global styles to this file, and also import other style files */
@import url('~bootstrap/dist/css/bootstrap.css');
.vertical-center {
  min-height: 93.7%;
  min-height: 93.7vh;

  display: flex;
  align-items: center;
}
.container
{
  padding: 2%;
  border-radius: 15px;
  color: #f9f9f9;
}
