<div *ngIf="cUser.isLoggedIn(); then homePage else auth"></div>
<ng-template #homePage ><app-home></app-home></ng-template>
<ng-template  #auth>
  <ngb-tabset [justify]="'justified'" type="pills">
    <ngb-tab id="loginTab">
      <ng-template ngbTabTitle><h4>Iniciar Sesión</h4></ng-template>
      <ng-template ngbTabContent><app-login></app-login></ng-template>
    </ngb-tab>
    <ngb-tab id="registrarTab">
      <ng-template ngbTabTitle><h4><b>¡Registrate!</b></h4></ng-template>
      <ng-template ngbTabContent><app-sign-up></app-sign-up></ng-template>
    </ngb-tab>
  </ngb-tabset>
</ng-template>
