
<app-access-denied-page [authLevelRequired]="0">
  <app-loading [loading]="loading">
    <div>
      <div>
        <div [hidden]="myAlert.hidden">
          <ngb-alert type="{{myAlert.type}}" [dismissible]="true" (close)="myAlert.hidden = true" >
            <strong>{{myAlert.title}} </strong> {{myAlert.body}}
          </ngb-alert>
        </div>
        <br>
        <div class="padding-left-rigth" >
          <div class="row">
            <div class="col">
              <h2 >Usuarios registrados</h2>
            </div>
            <div class="col text-lg-right">
              <button mat-button data-toggle="collapse" data-target="#nuevo" color="primary">Agregar usuario ...</button>
            </div>
          </div>
          <form (submit)="newUser(nUsername, nNickname, nPassword, nAuthLevel)" id="nuevo" class="collapse">
            <div class="row">
              <div class="col">
                <mat-form-field>
                 <input autocomplete type="text" required matInput #nUsername placeholder="Nombre de usuario" />
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field>
                  <input autocomplete matInput required type="text" #nNickname placeholder="Nombre a mostrar (nickname)" />
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field>
                <input autocomplete matInput required type="password" #nPassword placeholder="Contraseña" />
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field>
                <mat-select required #nAuthLevel placeholder="Seleccione un rol para el usuario">
                  <mat-option value="1">Profesor</mat-option>
                  <mat-option value="2">Alumno</mat-option>
                </mat-select>
                </mat-form-field>
              </div>
              <div class="col text-lg-right">
                <button mat-button color="accent">Crear nuevo usuario</button>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col">
              <h3>Buscar: </h3>
            </div>
            <div class="col">
              <mat-form-field>
              <input matInput placeholder="Algo" type="text" #searchVal (keyup)="search(searchVal.value)" />
              </mat-form-field>
            </div>
            <div class="col text-right">
              <h3> por: </h3>
            </div>
            <div class="col">
              <mat-form-field>
              <mat-select  #searchType (change)="sType = searchType.value" value="0">
                <mat-option value="0">Nombre de usuario</mat-option>
                <mat-option value="1">Nickname</mat-option>
              </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <table class="table">
          <thead class="thead-dark text-center">
          <tr>
            <th scope="col">Nombre de usuario</th>
            <th scope="col">Nombre a mostrar</th>
            <th scope="col">Contraseña</th>
            <th scope="col">Tipo de usuario</th>
            <th scope="col" colspan="2">Acciones</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let usr of (registrdUsers$ | async)">
            <td>
              <mat-form-field>
                <input matInput type="text" [id]="usr.username + '_usr'" value="{{usr.username}}" disabled />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input matInput [id]="usr.username + '_nick'" type="text"  value="{{usr.nickname}}" disabled />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input matInput [id]="usr.username + '_pass'" type="password" value="{{usr.password}}" disabled />
              </mat-form-field>
            </td>
            <td>
                <select value="{{usr.authLevel}}" class="form-control" [id]="usr.username + '_auth'" #auL disabled>
                  <option disabled value="0">Administrador</option>
                  <option value="1">Profesor</option>
                  <option value="2">Alumno</option>
                </select>
            </td>
            <td>
              <input type="button" [id]="usr.username + '_btnEdit'" value="Editar usuario" class="btn-link btn"  (click)="edit(usr)"/></td>
            <td>
              <button class="btn-link btn" [disabled]="usr.authLevel == 0" (click)="deleteUsr(usr)">Eliminar usuario</button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </app-loading>
</app-access-denied-page>

