
#canvas {
  border: 2px dashed #cccccc;
}

.colorPick
{
  margin-top: 5px;
  margin-bottom: 5px;
}
img{
  margin: 5px;
}
.target
{
  display: block;
  float: left;
  width: auto;
  height: auto;
}
.source
{
  border: 2px dashed #f9f9f9;
  overflow-y: auto;
  background-color: #141414;
}
.block
{
  margin-top: 5px;
  display: block;
  float: left;
}
