<div >
  <div [hidden]="myAlert.hidden">
    <ngb-alert type="{{myAlert.type}}" [dismissible]="true" (close)="myAlert.hidden = true" >
      <strong>{{myAlert.title}} </strong> {{myAlert.body}}
    </ngb-alert>
  </div>
  <br>
  <div class="text-center">
    <div class="">
      <div>
        <h1 class="h1">{{quiz.title}}</h1>
      </div>
      <div class="">
        <h2 class="h2">Instrucciones de la actividad:<br>
          <small>{{quiz.instructions}}</small>
        </h2>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
    <div class=" row">
      <div id="images"  class="col source" >
        <img  draggable="true" src="../../assets/shapes/1.png" width="20%" height="auto"/>
        <img  draggable="true" src="../../assets/shapes/2.png" width="20%" height="auto"/>
        <img  draggable="true" src="../../assets/shapes/3.png" width="20%" height="auto"/>
        <img  draggable="true" src="../../assets/shapes/4.png" width="20%" height="auto"/>
        <img  draggable="true" src="../../assets/shapes/5.png" width="50%" height="auto"/>
      </div>
      <div id="canvas-container" class="col">
        <canvas id="canvas"></canvas>
      </div>
    </div>
  <mat-divider></mat-divider>
  <div class="row colorPick text-right">
    <div class="col">
      <h3>Subir una imagen:</h3>
    </div>
    <div class="col">
      <input  type="file" id="file"/>
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>
  <mat-divider></mat-divider>
    <div class="row">
      <div class="col">
      <button id="deleteObj" type="button" class="btn btn-danger btn-lg btn-block">Eliminar objetos seleccionados</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
      <button type="button" id="btnSave" class="btn btn-primary btn-lg btn-block">Guardar diagrama</button>
      </div>
    </div>
</div>
