<div class="bg-red vertical-center" >

  <div class="container">

    <div [hidden]="myAlert.hidden">
      <ngb-alert type="{{myAlert.type}}" [dismissible]="true" (close)="myAlert.hidden = true" >
        <strong>{{myAlert.title}} </strong> {{myAlert.body}}
      </ngb-alert>
    </div>
    <form class="form-group container bg-container-red"  (submit)="login(userName.value, pass.value)" action="">
      <h1 class="text-center">Iniciar Sesión</h1>
      <div class="row">
        <div class="form-group col-lg-6">
          <label class="h2">Nombre de usuario</label>
          <input autocomplete required #userName type="text" class="form-control form-control-lg" placeholder="Nombre de usuario">
        </div>
        <div class="form-group col-lg-6">
          <label class="h2">Contraseña</label>
          <input autocomplete required #pass type="password" class="form-control form-control-lg" placeholder="Contraseña">
        </div>
      </div>
      <br>
      <div class="col-md-12 text-center">
        <button  class="btn btn-info btn-lg ">Iniciar Sesión</button>
      </div>
    </form>
  </div>
</div>
